{% extends "base.html" %}

{% block contentWrapper %}
<div class="container">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-secondary {{ message.tags }}" role="alert">
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="site-sidebar">
        {% block sidebar %}{% endblock %}
      </div>
    </div>
    <div class="col-md-8">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
