{% extends "manager/base.html" %}
{% load extra_tags %}{% load category_tags %}

{% block sidebar %}
<a class="btn btn-primary px-5" href="{% url 'passe.manager:add_entry' %}">New Entry</a>
{% render_categories %}
{% endblock %}

{% block content %}
{% if category %}
<small class="float-right"><a href="{% url 'passe.manager:update_category' pk=category.id %}"><i class="fas fa-edit"></i></a></small>
<h2>{{category}}</h2>
{% endif %}
{% if search %}
<h3>Showing results for "{{search}}":</h3>
{% endif %}
<div class="row">
{% for e in entries %}
  <div class="col-md-6">
    {% include "manager/_includes/_entry.html" %}
  </div>
  {% empty %}
  <div class="card px-3 py-3">
    No Entries found.
  </div>
{% endfor %}
</div>

{% endblock %}
