$black: #000;

// Bootstrap
$font-family-sans-serif:  "Roboto", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$link-color: #A5CE44;
$primary: #212529;
$body-bg: #f2f2f2;
$card-cap-bg: rgba($black, .01) !default;

// Fontawesome
$fa-font-path: "../fonts" !default;
