<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'passe.manager:home' %}">{{network_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'passe.manager:add_entry' %}">New Entry</a>
            <a class="dropdown-item" href="{% url 'passe.manager:add_category' %}">New Category</a>
          </div>
        </li>

        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle avatar" width="24" height="24" src="https://secure.gravatar.com/avatar/{{ user.hash }}?s=32&amp;d={{STATIC_URL}}img/gravatar.png">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'coreExtend:AccountSettings' %}">Account Settings</a>
                    <a class="dropdown-item" href="{% url 'coreExtend:password_change' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'coreExtend:Logout' %}">Logout</a>
                </div>
            </li>
      </ul>

      <form method="post" class="form-inline my-2 my-lg-0" action="{% url 'passe.manager:home' %}" id="form-search">
          {% csrf_token %}
          <input name="search" id="search" type="text" class="search-query form-control mr-sm-2" placeholder="Search" data-provide="typeahead" autocomplete="off" value="{{ search }}">
          <button class="btn btn-primary my-2 my-sm-0 sr-only" type="submit">Search</button>
      </form>
      {% endif %}

    </div>
  </div>
</nav>
