{% extends "coreExtend/base.html" %}{% load i18n %}{% load core_tags %}

{% block title %}Log in | {% endblock %}
{% block page %}core login{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">
    <p class="my-0">Please fix the errors below before you can continue.</p>
</div>
{% endif %}

{% if user.is_authenticated %}
<p class="logged-in">Already Logged in. <a href="{% url 'coreExtend:Logout' %}">Logout?</a></p>
{% else %}
<h2 class="heading">Login</h2>
<form class="form-signin" method="post" action="{% url 'coreExtend:login' %}">{% csrf_token %}
    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label for="id_username" class="sr-only">{% trans 'Username' %}</label>
        {{form.username | addcss:"form-control"}}
        {% if form.username.errors %}
        <span class="help-block">{{ form.username.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        <label for="id_password" class="sr-only">{% trans 'Password' %}</label>
        {{form.password | addcss:"form-control"}}
        {% if form.password.errors %}
        <span class="help-block">{{ form.password.errors }}</span>
        {% endif %}
    </div>
    <div class="form-group {% if form.master_password.errors %}has-error{% endif %}">
        <label for="id_master_password" class="sr-only">{% trans 'Master Password' %}</label>
        {{form.master_password | addcss:"form-control"}}
        {% if form.master_password.errors %}
        <span class="help-block">{{ form.master_password.errors }}</span>
        {% endif %}
    </div>

    <input class="btn btn-primary btn-block" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p class="mt-3"><a href="{% url 'coreExtend:password_reset' %}">Forgot your password?</a></p>
{% if site_register %}<p><a href="{% url 'coreExtend:register' %}">Need an account</a>?</p>{% endif %}
{% endif %}
{% endblock %}
