<div class="card mb-2">{% load extra_tags %}
  <div class="card-header">
  <h5 class="mb-0">{{ e.title }}<small class="ml-2"><a href="{% url 'passe.manager:update_entry' pk=e.id %}">(edit)</a></small></h5>
  </div>
  <div class="card-body">
    <small>
        {% if e.url %}
        <span class="d-block">URL: <a href="{{e.url}}">{{e.url}}</a></span>
        {% endif %}
        {% if e.username %}
        <span class="d-block">
          Username: {{e.username}}
        </span>
        {% endif %}
        {% if e.password %}
        <span class="d-block">
          Password: <span onClick="toggleVisibility(this);"><a href="" class="">Show Password</a>
            <span class="password" style="display:none;">{{ e.password|decrypt }}</span></span>
        </span>
        {% endif %}
    </small>
    <button class="btn btn-link" data-toggle="collapse" data-target="#details-{{e.id}}" aria-expanded="false" aria-controls="collapseOne">Show More Details</button>
    <div class="more-details collapse" id="details-{{e.id}}">
      <hr />
      {% if e.expires %}<div>Expires: {{e.expires}}</div>{% endif %}
      {% if e.comment %}
        {{e.comment|safe}}
      {% endif %}
    </div>
  </div>
</div>
