<div class="card mb-5">
  <div class="card-header">
    <div class="float-right">
      <a href="#"><i class="fas fa-plus"></i> New</a>
    </div>
    Categories
  </div>
  <ul class="list-group list-group-flush">
    {% for cat in object_list %}
    <li class="list-group-item" onclick='searchEntries("{{ cat.title }}")'><a href="{% url 'passe.manager:entry_category_list' cat.pk %}"><i class="icon-chevron-right"></i> {{ cat.title }}</a> <small class="pl-2">({{cat.entry_count}})</small></li>
    {% endfor %}
  </ul>
</div>
